## **Introduction**

###Welcome to this notebook! In this notebook, we will explore various aspects of data science, including languages, libraries, tools, and coding examples. Let's dive in!

## **Data Science Languages**

* Python
* R
* Julia
* SQL
* Scala

## **Data Science Libraries**

* NumPy
* Pandas
* Matplotlib
* Seaborn
* Scikit-learn

## **Data Science Tools**

| Tool           | Description                             |
|----------------|-----------------------------------------|
| Jupyter Notebook | Interactive coding environment for data science |
| TensorFlow     | Deep learning framework                  |
| PyTorch        | Deep learning framework                  |
| Tableau        | Data visualization tool                  |
| Apache Spark   | Distributed data processing framework    |

## **Arithmetic Expression Examples**

## Arithmetic Expression Examples

In the following examples, we will explore some basic arithmetic operations using numbers:

1. Addition: `2 + 3`
2. Subtraction: `5 - 1`
3. Multiplication: `4 * 6`
4. Division: `10 / 2`
5. Exponentiation: `2 ** 4`
6. Modulo: `10 % 3`

# Multiplication

In [1]:
a = 5
b = 3
result_mul = a * b
print("Multiplication result:", result_mul)

Multiplication result: 15

# Addition

In [2]:
x = 10
y = 7
result_add = x + y
print("Addition result:", result_add)

Addition result: 17

# Convert minutes to hours

In [3]:
minutes = 150
hours = minutes / 60
print("Minutes:", minutes)
print("Hours:", hours)

Minutes: 150
Hours: 2.5

## Objectives

The main objectives of this notebook are:

1. Explore different data science languages.
2. Understand popular data science libraries.
3. Familiarize with essential data science tools.
4. Perform basic arithmetic operations using numbers.
5. Convert minutes to hours using a simple formula.

Author: Sirvan Kesici